@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --absolutewhite: rgba(255, 255, 255, 1);
  --grey-15: rgba(38, 38, 38, 1);
}

.desktop-seccin-FAQ {
  background-color: #fef9d1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-seccin-FAQ .div {
  background-color: #fef9d1;
  width: 1920px;
  height: 1140px;
  position: relative;
}

.desktop-seccin-FAQ .overlap {
  position: absolute;
  width: 1920px;
  height: 971px;
  top: 169px;
  left: 0;
}

.desktop-seccin-FAQ .fondo {
  position: absolute;
  width: 1918px;
  height: 840px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.desktop-seccin-FAQ .rectangle {
  position: absolute;
  width: 1920px;
  height: 133px;
  top: 838px;
  left: 0;
  background-color: #fffad2;
}

.desktop-seccin-FAQ .btn-enviar {
  position: absolute;
  width: 189px;
  height: 65px;
  top: 879px;
  left: 1690px;
}

.desktop-seccin-FAQ .consulta-container {
  position: absolute;
  width: 906px;
  height: 90px;
  top: 854px;
  left: 676px;
}

.desktop-seccin-FAQ .rectangle-2 {
  position: absolute;
  width: 904px;
  height: 65px;
  top: 25px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
}

.desktop-seccin-FAQ .text-wrapper {
  position: absolute;
  width: 130px;
  top: 0;
  left: 27px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #828282;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.desktop-seccin-FAQ .email-container {
  position: absolute;
  width: 488px;
  height: 90px;
  top: 854px;
  left: 52px;
}

.desktop-seccin-FAQ .rectangle-3 {
  position: absolute;
  width: 486px;
  height: 65px;
  top: 25px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
}

.desktop-seccin-FAQ .text-wrapper-2 {
  position: absolute;
  width: 130px;
  top: 0;
  left: 36px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #828282;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.desktop-seccin-FAQ .text-wrapper-3 {
  position: absolute;
  width: 92px;
  height: 17px;
  top: 902px;
  left: 1739px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 20px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .preguntas-frequentes {
  position: absolute;
  width: 1540px;
  height: 621px;
  top: 187px;
  left: 194px;
  background-color: #0000004c;
  border-radius: 16px;
  border: none;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
}

.desktop-seccin-FAQ .preguntas-frequentes::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.08) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.desktop-seccin-FAQ .paragraph {
  position: absolute;
  width: 1444px;
  top: 164px;
  left: 48px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 33px;
}

.desktop-seccin-FAQ .p {
  width: 1444px;
  height: 61px;
  top: 103px;
  left: 48px;
  position: absolute;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 20px;
}

.desktop-seccin-FAQ .paragraph-2 {
  top: 531px;
  left: 48px;
  position: absolute;
  width: 1444px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 33px;
}

.desktop-seccin-FAQ .text-wrapper-4 {
  position: absolute;
  width: 1444px;
  height: 61px;
  top: 456px;
  left: 48px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 20px;
}

.desktop-seccin-FAQ .paragraph-3 {
  top: 265px;
  left: 48px;
  position: absolute;
  width: 1444px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 33px;
}

.desktop-seccin-FAQ .text-wrapper-5 {
  position: absolute;
  width: 1444px;
  height: 61px;
  top: 204px;
  left: 48px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 20px;
}

.desktop-seccin-FAQ .paragraph-4 {
  top: 383px;
  left: 48px;
  position: absolute;
  width: 1444px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 33px;
}

.desktop-seccin-FAQ .text-wrapper-6 {
  position: absolute;
  width: 1444px;
  height: 64px;
  top: 312px;
  left: 48px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 20px;
}

.desktop-seccin-FAQ .overlap-group {
  position: absolute;
  width: 1444px;
  height: 94px;
  top: 9px;
  left: 48px;
}

.desktop-seccin-FAQ .paragraph-5 {
  top: 58px;
  left: 0;
  white-space: nowrap;
  position: absolute;
  width: 1444px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 33px;
}

.desktop-seccin-FAQ .text-wrapper-7 {
  width: 499px;
  height: 66px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 20px;
}

.desktop-seccin-FAQ .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 62px;
  height: 60px;
  top: 88px;
  left: 1188px;
  background-color: #001b0a;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-seccin-FAQ .overlap-2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-seccin-FAQ .symbol {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 4px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .search-normal {
  position: relative;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.desktop-seccin-FAQ .rectangle-4 {
  position: absolute;
  width: 617px;
  height: 54px;
  top: 91px;
  left: 545px;
  background-color: #ffffff;
  border-radius: 25px;
}

.desktop-seccin-FAQ .title-pregfreq {
  position: absolute;
  width: 402px;
  height: 32px;
  top: 100px;
  left: 89px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 34px;
  letter-spacing: 0.34px;
  line-height: 34px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .header {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #fffad2;
}

.desktop-seccin-FAQ .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 160px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #001b0a;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--grey-15);
}

.desktop-seccin-FAQ .abstract-design {
  position: absolute;
  width: 1920px;
  height: 1282px;
  top: -610px;
  left: 0;
}

.desktop-seccin-FAQ .group {
  position: relative;
  width: 1918px;
  height: 1279px;
  top: 1px;
  left: 1px;
}

.desktop-seccin-FAQ .BACKGROUND {
  height: 1279px;
}

.desktop-seccin-FAQ .group-wrapper {
  position: relative;
  width: 1918px;
  height: 1279px;
  mix-blend-mode: color-dodge;
}

.desktop-seccin-FAQ .img {
  position: absolute;
  width: 1919px;
  height: 63px;
  top: 609px;
  left: 0;
}

.desktop-seccin-FAQ .text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: var(--absolutewhite);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .text-button {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: var(--absolutewhite);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  text-decoration: underline;
  white-space: nowrap;
}

.desktop-seccin-FAQ .icon-wrapper {
  align-items: center;
  justify-content: center;
  padding: 4px;
  position: absolute;
  top: 15px;
  left: 1856px;
  background-color: #ffffff1a;
  border-radius: 75px;
  display: inline-flex;
  gap: 10px;
}

.desktop-seccin-FAQ .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.desktop-seccin-FAQ .navigation-bar {
  display: flex;
  height: 105px;
  align-items: center;
  gap: 1372px;
  padding: 20px 162px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fef9d1;
}

.desktop-seccin-FAQ .logo {
  position: relative;
  width: 160px;
  height: 48px;
}

.desktop-seccin-FAQ .chaski-isotipo {
  position: absolute;
  width: 47px;
  height: 55px;
  top: 0;
  left: 8px;
  object-fit: cover;
}

.desktop-seccin-FAQ .text-2 {
  position: absolute;
  width: 117px;
  top: -2px;
  left: 55px;
  font-family: "Marcellus SC-Regular", Helvetica;
  font-weight: 400;
  color: #001b0a;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 26px;
}

.desktop-seccin-FAQ .buttons-container {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 25px;
  left: 789px;
}

.desktop-seccin-FAQ .text-button-2 {
  position: relative;
  width: fit-content;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #001b0a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .div-wrapper {
  all: unset;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #001b0a;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--grey-15);
  display: inline-flex;
  gap: 10px;
}

.desktop-seccin-FAQ .text-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: var(--absolutewhite);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-seccin-FAQ .frame {
  display: flex;
  width: 40px;
  height: 43px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
  position: relative;
}

.desktop-seccin-FAQ .user-dropdown {
  position: relative;
  width: 137px;
  height: 227px;
  margin-bottom: -184.00px;
  margin-left: -97.00px;
}

.desktop-seccin-FAQ .listbox-main-wrapper {
  position: relative;
  width: 64px;
  height: 36px;
  left: 73px;
}

.desktop-seccin-FAQ .listbox-main {
  height: 36px;
}

.desktop-seccin-FAQ .frame-2 {
  display: flex;
  width: 64px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.desktop-seccin-FAQ .ellipse {
  position: relative;
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.desktop-seccin-FAQ .reserve {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 34px;
  left: 1632px;
}

.desktop-seccin-FAQ .faq-item {
  padding: 20px;
  margin-bottom: 15px;
}

.desktop-seccin-FAQ .faq-question {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.desktop-seccin-FAQ .faq-answer {
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  padding-left: 20px;
}
