body{
    background-color: #fffad2;
    font-family: Helvetica;
}
p{
    font-family: Helvetica;
}
.cont_calificacion{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.img_cal{
    width: 377px;
    height: 302px;

}
.estrellas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.estrella {
    width: 40px;
    height: 40px;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: background-color 0.2s ease;
}

.estrella:hover,
.estrella:hover ~ .estrella {
    background-color: yellow;
}
.texto {
    width: 40%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica;
    resize: none;
    outline: none;

}
.boton {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
/* Efecto al pasar el mouse por encima de los botones */
.boton:hover {
    background-color: #0056b3;
}
/* Estilo para el botón de Cancelar */
.boton.cancelar {
    background-color: #dc3545;
}
.boton.cancelar:hover {
    background-color: #c82333;
}
.cal_pro{
    display: flex;
}
.resenas{
    display: flex;
    width: 55%;
}
.calif{
    display: flex;
}
.img_per_cal{
    width: 140px;
}
.valo{

}
.estrella_col{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.estrella_peq{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


